  {{> header}}

  <section id="home" >
    
      <ul>
          {{#each data}}
          <h4>Location {{this.name}}</h4>
            <li>{{this.address}}</li>
            <li> <img src="{{this.image}}" alt="image"> </li>
            <li>{{this.rate}}</li>
            <li>{{this.user_email}}</li>
           <hr><br>
          {{/each}}
      </ul>
  </section>
        
  {{> footer}}