  {{> header}}

  <section id="home" >
      <ul>
          {{#each data}}
            <li>{{this.name}}</li>
            <li>{{this.adress}}</li>
            <li>{{this.image}}</li>
            <li>{{this.rate}}</li>
            <li>{{this.user_email}}</li>
          {{/each}}
      </ul>
  </section>
        
  {{> footer}}